*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #1690A7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

h2{
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border:  2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}